[Unit]
Description=Uvoo-MiniCMS
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=uvoo-minicms
Group=uvoo-minicms
WorkingDirectory=/usr/share/uvoo-minicms
EnvironmentFile=-/etc/uvoo-minicms/uvoo-minicms.env
ExecStart=/usr/bin/uvoo-minicms
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/var/lib/uvoo-minicms

[Install]
WantedBy=multi-user.target
